* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 7rem;
    
}

p {
   font-size: 2rem;
}

.city{
    font-size: 2.5rem;
    
}
.App {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0,0,0,0.55);
    color: white;
}

.App:before {
    content: '';
    /*background: url('./assets/soleado.jpg') no-repeat center center/cover;*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.clouds {
    background: url('./assets/nublado.jpg') no-repeat center center/cover;
  }
  
  .rain {
    background: url('./assets/lluvioso.jpg') no-repeat center center/cover;
  }
  
  .clear {
    background: url('./assets/soleado.jpg') no-repeat center center/cover;
  }
  
  .default {
    background: url('./assets/soleado.jpg') no-repeat center center/cover;
  }
  

.App .search {
    text-align: center;
    padding: 1rem;
}

.App input {
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid rgba(103, 129, 108, 0.45);
    background: rgba(247, 242, 242, 0.774);
}

::placeholder {
    color: rgb(121, 115, 115);
    font-size: small;
}


.App .container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .position-up {
  width: 100%;
  margin: 1rem auto;
}

.App .state {
    background-color: rgba(2, 150, 2, 0.329);
    border-radius: 10px;
    position: relative;
    padding: 0.5rem;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(269.5deg);
}

.App .position-down{
    background-color: rgba(255,255,255,0.15);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10rem auto;
    padding: 1rem;
}

.measure {
    font-size: 2.5rem;
    text-align: center;
}

.humidity {
    color: rgba(0, 0, 255, 0.473);
}

.speed {
    color: rgba(255, 255, 0, 0.63);
}

.sensation {
    color: rgba(255, 0, 0, 0.452);
}